---
title: Home
layout: article
---

<section class="label label-yellow alert">
  Check out my new Patreon community,&nbsp;<%= link_to "The Hotwire Club", "https://patreon.com/TheHotwireClub", target: "_blank" %>!
</section>

<section>
  <h1>Welcome to Better StimulusJS 🎉</h1>

  <h3>An Opinionated Collection of <%= link_to "StimulusJS", "https://stimulus.hotwired.dev/", target: "_blank" %> Best Practices</h3>

  <p>
    <%= link_to "StimulusJS", "https://stimulus.hotwired.dev/", target: "_blank" %>, the <em>modest JavaScript framework<em> by <%= link_to "Basecamp", "https://www.basecamp.com", target: "_blank" %> is gaining widespread traction. It powers Basecamp and <%= link_to "HEY", "https://www.hey.com", target: "_blank" %>, among others, and is a natural choice for Rails developers. That said, it fits any codebase that embraces server-side generated HTML and lightweight JS sprinkles.
  </p>

  <p>
    Unfortunately, the official docs lack clear guidelines and best practice examples. Thus, this guide tries to present advice for newcomers and intermediate Stimulus programmers.
  </p>
</section>

<section>
  <p>
    Covered topics include:
  </p>
  <ul>
    <% KnowledgeBase::Category.all.each do |category| %>
      <li>
        <strong><%= category %></strong>
        <ul>
          <% PageModel.all.select { _1.category == category.slug }.each do |page| %>
            <li>
              <%= link_to page.request_path, class: "secondary #{"active" if current_page == page}" do %>
                <small>
                  <% if current_page == page %><strong><% end %>
                    <%= page.data.fetch("title", page.request_path) %>
                    <% if current_page == page %></strong><% end %>
                </small>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</section>

<section>
  <h3>Stay Informed</h3>

  <p>
    Get updates when new articles are posted:
  </p>

  <iframe src="https://embeds.beehiiv.com/5ef9485f-9647-4c8e-88cf-a518ecb9c198?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>


</section>

<section>
  <h3>Who made this?</h3>

  <p>
    This site is maintained by <%= link_to "Julian Rubisch", "https://github.com/julianrubisch", target: "_blank" %>, <%= link_to "Stimulus Reflex", "https://docs.stimulusreflex.com", target: "_blank" %> core team member and senior Rails developer. A range of <%= link_to "enthusiast volunteers", "./contributors" %> helps keeping articles up to date and quality-assured.
  </p>

  <h3>Disagree or have comments?</h3>

  <p>
    Take a look at <%= link_to "https://github.com/julianrubisch/better-stimulus", "https://github.com/julianrubisch/better-stimulus", target: "_blank" %> for ways to contribute and/or discuss content.
  </p>
</section>
