<!DOCTYPE html>
<html>
  <head>
    <title>Betterstimulus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li><h4>Better Stimulus JS</h4></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <aside>
        <nav>
          Categories
          <ul>
            <li><a href="#">Architecture</a></li>
            <li>etc</li>
          </ul>
        </nav>
      </aside>
      <article>
        <nav aria-label="breadcrumb">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li>Design</li>
            </ul>
        </nav>
        <%= yield %>
      </article>
      <aside>
      </aside>
    </main>
  </body>
</html>
