<% current_category = Category.find_by(slug: current_page.data.category) %>

<!DOCTYPE html>
<html>
  <head>
    <title>Betterstimulus | <%= current_page.data["title"] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script defer data-domain="betterstimulus.com" src="https://plausible.io/js/script.js"></script>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong><%= link_to "Better Stimulus JS", "/" %></strong></li>
        </ul>
        <ul class="search-container">
          <%= render "pagefind/search" %>
        </ul>
        <ul>
          <li>Sponsors</li>
          <li>Contributors</li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <!-- breadcrumb row -->
      <div></div>
      <div>
        <nav aria-label="breadcrumb">
          <ul>
            <li><a href="#"><%= current_category %></a></li>
            <li><%= current_page.data.title %></li>
          </ul>
        </nav>
      </div>
      <div></div>
      
      <!-- content row -->
      <aside>
        <nav>
          <ul>
            <% Category.all.each do |category| %>
              <li>
                <details <%= "open" if category == current_category %>>
                  <summary><strong><%= category %></strong></summary>
                  <aside class="category-subnav">
                    <nav>
                      <ul>
                        <% PageModel.all.select { _1.category == category.slug }.each do |page| %>
                          <li>
                            <%= link_to page.request_path, class: "secondary #{"active" if current_page == page}" do %>
                              <small>
                                <% if current_page == page %><strong><% end %>
                                  <%= page.data.fetch("title", page.request_path) %>
                                  <% if current_page == page %></strong><% end %>
                              </small>
                            <% end %>
                          </li>
                        <% end %>
                        
                      </ul>
                    </nav>
                  </aside>
                </details>
              </li>
            <% end %>
          </ul>
        </nav>
      </aside>

      <article class="overflow-auto" data-turn-enter data-turn-exit>
        <%= yield %>
      </article>

      <aside>
      </aside>
    </main>
    <footer></footer>
  </body>
</html>
