<% current_category = Category.find_by(slug: current_page.data.category) %>

<!DOCTYPE html>
<html>
  <head>
    <title>Betterstimulus | <%= current_page.data["title"] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :meta if content_for? :meta %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="canonical" href="https://betterstimulus.com<%= request.path %>" />

    <script defer data-domain="betterstimulus.com" src="https://plausible.io/js/script.js"></script>
    <script type="text/javascript">
     var _iub = _iub || [];
     _iub.csConfiguration = {"siteId":3717385,"cookiePolicyId":34122348,"lang":"en"};
    </script>
    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3717385.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub-v2.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/safe-tcf-v2.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong><%= link_to "Better Stimulus JS", "/" %></strong></li>
        </ul>
        <ul class="search-container">
          <%= render "pagefind/search" %>
        </ul>
        <ul id="right-nav">
          <li><%= link_to "Sponsors", "/sponsors" %></li>
          <li><%= link_to "Contributors", "/contributors" %></li>
        </ul>
        <!-- mobile nav -->
        <div id="mobile-nav-button">
          <input type="checkbox" id="mobile-nav">
          <label for="mobile-nav" class="hamb"><span class="hamb-line"></span></label>
          <aside>
            <nav>
              <ul>
                <li><%= link_to "Sponsors", "/sponsors" %></li>
                <li><%= link_to "Contributors", "/contributors" %></li>
              </ul>
            </nav>
          </aside>
        </div>
      </nav>
    </header>
    <main class="container">
      <!-- breadcrumb row -->
      <div></div>
      <div id="breadcrumbs" data-controller="dialog">
        <dialog data-dialog-target="dialog">
          <article>
            <header>
              <button aria-label="Close" rel="prev" data-action="search#close"></button>
              <p><strong>Articles</strong></p>
            </header>
            <aside>
              <%= render "nav/articles_nav", current_category: %>
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= Rails.application.credentials.dig(:adsense, :adsense_id) %>"
                      crossorigin="anonymous"></script>
              <!-- betterstimulus-sidebar -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="<%= Rails.application.credentials.dig(:adsense, :adsense_id) %>"
                   data-ad-slot="8143181187"
                   data-ad-format="auto"
                   data-full-width-responsive="true"></ins>
              <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </aside>
          </article>
        </dialog>
        <nav aria-label="breadcrumb">
          <ul>
            <li><button data-action="dialog#open" id="breadcrumb-dialog-button"><%= heroicon "bars-3" %></button></li>
            <% if current_category %>
              <li><a href="#"><%= current_category %></a></li>
            <% end %>
            <li><%= current_page.data.title %></li>
          </ul>
        </nav>
      </div>
      <div></div>
      
      <!-- content row -->
      <aside id="articles-nav">
        <%= render "nav/articles_nav", current_category: %>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= Rails.application.credentials.dig(:adsense, :adsense_id) %>"
                crossorigin="anonymous"></script>
        <!-- betterstimulus-sidebar -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="<%= Rails.application.credentials.dig(:adsense, :adsense_id) %>"
             data-ad-slot="8143181187"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </aside>

      <article class="overflow-auto" data-turn-enter data-turn-exit>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </article>

      <aside id="toc">
        <!-- TODO TOC -->
        <!-- <strong>On this page</strong> -->
      </aside>
    </main>
    <footer>
      <div class="grid container">
        <div>
          <div>
            <small><strong>About</strong></small>
            <ul>
              <li><small><%= link_to "Contributors", "/contributors" %></small></li>
              <li><small><%= link_to "Sponsors", "/sponsors" %></small></li>
              <li><small><%= link_to "Imprint", "/imprint" %></small></li>
              <li><a href="https://www.iubenda.com/privacy-policy/34122348" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
              <li><a href="https://www.iubenda.com/privacy-policy/34122348/cookie-policy" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> 
              </li>
              <li><a href="https://www.iubenda.com/terms-and-conditions/34122348" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Terms and Conditions ">Terms and Conditions</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
            </ul>
          </div>
        </div>
        <div>
          <div>
            <small><strong>Open</strong></small>
            <ul>
              <li><small><a href="https://github.com/julianrubisch/better-stimulus" target="_top">GitHub</a></small></li>
              <li><small><a href="https://plausible.io/betterstimulus.com" target="_top">Site Stats</a></small></li> 
            </ul>
          </div>
        </div>
        <div>
          <div>
            <small><strong>Partners</strong></small>
            <ul>
              <li><small><a href="https://hotwire.club" target="_top">The Hotwire Club</a></small></li>
              <li><small><a href="https://www.railsreviews.com" target="_top">RailsReviews</a></small></li> 
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
