<% current_category = Category.find_by(slug: current_page.data.category) %>

<!DOCTYPE html>
<html>
  <head>
    <title>Betterstimulus | <%= current_page.data["title"] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :meta if content_for? :meta %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script defer data-domain="betterstimulus.com" src="https://plausible.io/js/script.js"></script>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong><%= link_to "Better Stimulus JS", "/" %></strong></li>
        </ul>
        <ul class="search-container">
          <%= render "pagefind/search" %>
        </ul>
        <ul>
          <li><%= link_to "Sponsors", "/sponsors" %></li>
          <li><%= link_to "Contributors", "/contributors" %></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <!-- breadcrumb row -->
      <div></div>
      <div>
        <nav aria-label="breadcrumb">
          <ul>
            <% if current_category %>
              <li><a href="#"><%= current_category %></a></li>
            <% end %>
            <li><%= current_page.data.title %></li>
          </ul>
        </nav>
      </div>
      <div></div>
      
      <!-- content row -->
      <aside>
        <nav>
          <ul>
            <% Category.all.each do |category| %>
              <li>
                <details <%= "open" if category == current_category %>>
                  <summary><strong><%= category %></strong></summary>
                  <aside class="category-subnav">
                    <nav>
                      <ul>
                        <% PageModel.all.select { _1.category == category.slug }.each do |page| %>
                          <li>
                            <%= link_to page.request_path, class: "secondary #{"active" if current_page == page}" do %>
                              <small>
                                <% if current_page == page %><strong><% end %>
                                  <%= page.data.fetch("title", page.request_path) %>
                                  <% if current_page == page %></strong><% end %>
                              </small>
                            <% end %>
                          </li>
                        <% end %>
                        
                      </ul>
                    </nav>
                  </aside>
                </details>
              </li>
            <% end %>
          </ul>
        </nav>
      </aside>

      <article class="overflow-auto" data-turn-enter data-turn-exit>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </article>

      <aside id="toc">
        <!-- TODO TOC -->
        <!-- <strong>On this page</strong> -->
      </aside>
    </main>
    <footer>
      <div class="grid container">
        <div>
          <div>
            <small><strong>About</strong></small>
            <ul>
              <li><small><%= link_to "Contributors", "/contributors" %></small></li>
              <li><small><%= link_to "Sponsors", "/sponsors" %></small></li>
              <li><small><%= link_to "Imprint", "/imprint" %></small></li>
            </ul>
          </div>
        </div>
        <div>
          <div>
            <small><strong>Open</strong></small>
            <ul>
              <li><small><a href="https://github.com/julianrubisch/better-stimulus" target="_top">GitHub</a></small></li>
              <li><small><a href="https://plausible.io/betterstimulus.com" target="_top">Site Stats</a></small></li> 
            </ul>
          </div>
        </div>
        <div>
          <div>
            <small><strong>Partners</strong></small>
            <ul>
              <li><small><a href="https://hotwire.club" target="_top">The Hotwire Club</a></small></li>
              <li><small><a href="https://www.railsreviews.com" target="_top">RailsReviews</a></small></li> 
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
