<% content_for :title do %>
  <title><%= current_page.data["title"] %> | <%= t('application.name') %></title>
<% end %>

<% if current_page.data["image"].present? %>
  <% content_for :image do %>
    <%= image_url current_page.data["image"]&.split(".")&.insert(-2, "medium")&.join(".") %>
  <% end %>
<% end %>

<% content_for :description do %>
  <meta content="<%= current_page.data["preview_text"] %>" name="description" />
<% end %>

<% content_for :meta do %>
  <% site = Sitepress::Site.new(root_path: "app/content") %>
  <%= display_meta_tags site: "Betterstimulus",
                        title: "Betterstimulus | #{current_page.data["title"]}",
                        description: current_page.data["preview_text"],
                        icon: '/favicon.ico',
                        og: {
                          title: :title,
                          site_name: :site,
                        },
                        twitter: {
                          card: "summary_large_image",
                          creator: "@julian_rubisch",
                          site: "@julian_rubisch",
                        }
  %>
<% end %>

<% content_for :content do %>
  <h1><%= current_page.data["title"] %> <% if current_page.data["new"] %><span class="label label-purple">New</span><% end %></h1>
  <% if current_page.data["author"].present? %>
    <% author = PageModel.find(current_page).author %>
    <h6>by <%= link_to_page author %> <%= image_tag "#{author.github_avatar_url}?size=24" %></h6>
  <% end %>
  <% if current_page.data["authors"].present? %>
    <% authors = PageModel.find(current_page).authors %>
    <h6>by
      <%# TODO to_sentence %>
      <% authors.each do |author| %>
        <%= link_to_page author %> <%= image_tag "#{author.github_avatar_url}?size=24" %>, 
      <% end %>
    </h6>
  <% end %>
  <%= yield %>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= Rails.application.credentials.dig(:adsense, :adsense_id) %>"
     crossorigin="anonymous"></script>
  <!-- betterstimulus-in-article -->
  <ins class="adsbygoogle"
       style="display:block; text-align:center;"
       data-ad-layout="in-article"
       data-ad-format="fluid"
       data-ad-client="ca-pub-9363950242132313"
       data-ad-slot="7642058661"></ins>
  <script>
   (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
<% end %>

<%= render template: "layouts/application" %>
